@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 100;
}


.container {
  width: 100%;
}

.container span.page-title,
.jsdoc-message {
  display: none !important;
}

.navbar,
.navbar-inverse,
.navbar .dropdown-menu {
  background-color: #DA4453;
}

.navbar .dropdown-menu {
  padding: 0;
  height: auto;
  max-height:none;
}

.navbar .dropdown-menu a {
  font-size: 12px;
  padding: 15px;
}

.navbar .dropdown-menu a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #ED5565;
}